html, body, #app, .container {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  background: #424242;
  color: #eee;
  text-align: center;
  margin: 1rem 0;
}

a {
  color: white;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  display: inline-block;
  background: #636363;
  margin: 1px;
  line-height: 2rem;
  user-select: none;

  &:hover {
    background: #717171;
  }

  &.save-button {
    width: 100px;
    display: inline-block;
    padding: 0 0.5rem;
    margin-right: 1rem;

    border-radius: 1rem;
    border: 1px solid hsl(0,0%,80%);
    font-size: 1rem;
  }

  &.active {
    color: black;
    background: white;
  }
}

$cell: #8b8e8e; // #8ad1ce
$cell-active: #e8c519;

.cell {
  $size: 2rem;
  width: $size;
  height: $size;
  background: $cell;
  margin: 0.2rem;
  border-radius: 38%;
  z-index: 2;
  &.active {
    background: $cell-active;
    z-index: 1;
  }

  &:hover {
    $outline: #636363;
    $blur: 30px;
    box-shadow:0 0 5px rgb(218, 218, 218);
  }
}

.column {
  display: inline-block;

  &.active {
    // background: #666;

    .cell {
      // background: #57dbd5;
      // background: lighten($cell, 3%);

      // opacity: 0.7;
      &.active {
        // background: #ffe562;
        background: lighten($cell-active, 25%);
      }
    }
  }
}

.slider {
  display: block;
  letter-spacing: 0.1rem;
}

.control-heading {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  margin: 1rem 0 0.5rem;
  font-size: 1.2rem;
  // color: #aeefff;
}

.controls {
  display: flex;
  justify-content: center;
  text-align: left;
}

input[type="number"] {
  background: #636363;
  color: white;
  border: hsl(0,0%,80%) 1px solid;
  border-radius: 4px;
  padding: 5px 0 5px 10px;
  width: 38px;
}

section {
  margin: 0 1rem;
}

.select__option {
  height: 30px;
}
.select {
  color: black;
  width: 12rem;
  font-size: 1rem;
  // letter-spacing: 0.1rem;
  // margin-bottom: 1rem;

  &.small {
    display: inline-block;
    width: 47%;

    &.root {
      margin-right: 6%;
    }
  }

  .select__control {
    height: 25px;
    min-height: 0;
    background: #636363;
    flex-wrap: nowrap;
    margin-bottom: 0.75rem;

    &:hover {
      border-color: hsl(0,0%,80%);
      background: #717171;
    }
    &--is-focused {
      $highlight: white;
      border-color: $highlight;

      box-shadow: none;

      .select__indicator {
        color: white;
      }
    }
  }
  .select__single-value {
    color: white;
  }
  .select__option--is-focused {
    background: #e6e6e6;
  }
  .select__option--is-selected {
    background: #4d9fd6;
  }
  .select__input {
    color: white;
  }
}


// Base Colors
$shade-10: grey !default;
$shade-1: hsl(0,0%,80%) !default;
$shade-0: grey !default;
$teal: white !default;


// Range Slider
$range-handle-color: $shade-10 !default;
$range-handle-color-hover: $teal !default;
$range-handle-size: 8px !default;

$range-track-color: $shade-1 !default;
$range-track-height: 3px !default;

$range-label-color: $shade-10 !default;
$range-label-width: 60px !default;


.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (#{$range-label-width + 13px}));
  height: $range-track-height;
  border-radius: 5px;
  background: $range-track-color;
  outline: none;
  padding: 0;
  margin: 0 0.5rem 0 0;

  // Range Handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;
    box-shadow: 0 0 0 2px $shade-0,
    0 0 0 4px $teal;

    &:hover {
      background: $range-handle-color-hover;
      box-shadow: 0 0 0 2px $shade-0,
      0 0 0 4px $teal;
    }
  }

  &:active::-webkit-slider-thumb {
    background: $range-handle-color-hover;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: $range-handle-color;
    cursor: pointer;
    transition: background .15s ease-in-out;
    box-shadow: 0 0 0 2px $shade-0,
    0 0 0 4px $teal;

    &:hover {
      background: $range-handle-color-hover;
      box-shadow: 0 0 0 2px $shade-0,
      0 0 0 4px $teal;
    }
  }

  &:active::-moz-range-thumb {
    background: $range-handle-color-hover;
  }

  // Focus state
  &:focus {
    background: white;

    &::-webkit-slider-thumb {
      box-shadow: 0 0 0 2px $shade-0,
                  0 0 0 4px $teal;
    }
  }
}


// Range Label
.range-slider__value {
  display: inline-block;
  position: relative;
  width: $range-label-width;
  color: $shade-0;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: $range-label-color;
  padding: 5px 10px;
  margin-left: 8px;

  &:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid $range-label-color;
    border-bottom: 7px solid transparent;
    content: '';
  }
}


// Firefox Overrides
::-moz-range-track {
    background: $range-track-color;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

@mixin playback-button() {
  background: #7c7c7c;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 1em;
  &:hover {
    background: #999999;
  }

  &::after {
    content: ' ';
    width: 15px;
    height: 15px;
    // background: #504545;
    display: block;
    position: absolute;
    top: 12px;
    left: 12px;
    width: 15px;
    height: 15px;
  }
}

.record {
  @include playback-button();

  &::after {
    background: #504545;
    display: block;
    position: absolute;
    border-radius: 50%;
  }

  &.active {
    &::after {
      background: red;
    }
  }
}

.play {
  @include playback-button();

  &::after {
    margin-left: 4px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid #79e879;
  }
}

.pause {
  @include playback-button();

  &::after {
    background: #504545;
    display: block;
    position: absolute;
  }
}